<a href="<%= meal_path(users_meal.meal.vanity_id) %>" class="card-clickable">
  <div class="card shadow-sm card-shadow my-3">
    <h5 class="card-header">Makan Code: <span class="makan-code"><%= users_meal.meal.vanity_id %></span></h5>
    <div class="card-body">
      <p class="card-text">End: <%= users_meal.meal.endtime.localtime.strftime('%e %b %Y %I:%M %p') %></p>
      <p class="font-italic"><%= pluralize(users_meal.meal.pax, 'Kaki') %> eating</p>
      <a href="<%= meal_path(users_meal.meal.vanity_id) %>" class="btn btn-primary m-0">See Makan</a>
    </div>
  </div>
</a>
