<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <div class="d-flex align-items-center">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag image_path('aunty-square.svg') %>
    <% end %>
    <h3 class="m-0 pt-1">
      <span class="m-0 y-0" id="banner-typed-text"></span>
    </h3>
  </div>

  <% if user_signed_in? %>
    <%= image_tag "https://ui-avatars.com/api/?name=#{current_user.email}", class: "max-width: 10%" "navbar-toggler", id: "navbarDropdown", data: { toggle: "collapse", target: '#navbarSupportedContent' } %>
  <% else %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
  <% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "My Makan", meals_path, class: "nav-link ml-3" %>
        </li>
        <li class="nav-item">
          <%= link_to "Preferences", preferences_path, class: "nav-link ml-3" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link ml-3" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
