<div class="d-flex justify-content-center">
<div class="d-flex flex-column align-items-center text-center" style="width: 50%;">
  <p>Need to eat in a group?</p>
  <p>But don't know what to eat?</p>
  <p class="py-4"><strong>Leave it to Aunty!</strong></p>
  <p>Aunty can investigate what everybody feel like having today.</p>
  <p>Then, Aunty will tell you the verdict later.</p>
</div>
</div>

<div data-controller="journey" style="width: 400px; margin: auto;">

  <div class="d-flex justify-content-center">
    <div class="btn primarybtn btn-block" data-remote="true" data-action="click->journey#joinmeal" data-target="journey.joinmeal">Join Makan</div>
    <%#= link_to 'Join Makan', '/join_meal', class: "btn primarybtn btn-block", style: "width:50%" %>
  </div>

  <div class="d-flex justify-content-center">
    <div class="btn primarybtn btn-block" data-remote="true" data-action="click->journey#createmeal" data-target="journey.createmeal" data-toggle="tooltip" data-placement="bottom" title="Wah you treating the meal ah?">Create Makan</div>
    <%#= link_to 'Create Makan', '/create_meal', class: "btn primarybtn btn-block", style: "width:50%", 'data-toggle'=> "tooltip", 'data-placement' => 'bottom', 'title' => 'Wah you treating the meal ah?' %>
  </div>

  <div class="d-flex justify-content-center">
    <%= simple_form_for(@meal, method: :post, url: '/join_meal') do |f| %>
      <%= f.input :vanity_id, label: 'Meal ID', input_html: { class: "sharp-box hide", 'data-target' => 'journey.mealId', placeholder: "Given by the creator" }, label_html: { class: "hide", 'data-target' => 'journey.mealId' } %>
      <%= f.submit 'Join Meal', class: 'btn primarybtn btn-block hide', 'data-target' => 'journey.mealId' %>
    <% end %>
  </div>

  <div class="d-flex justify-content-center">
    <%= simple_form_for(@meal, method: :post) do |f| %>
      <%= f.input :postal_code, label: 'Postal Code', input_html: { class: "sharp-box hide", 'data-target' => "journey.postalCode", placeholder: "Enter valid postal code" }, label_html: { class: "hide",  'data-target' => "journey.postalCode" } %>
      <%= f.input :endtime, input_html: { class: "sharp-box hide", 'data-target' => "journey.postalCode", id: 'endtime' }, label_html: { class: "hide", 'data-target' => "journey.postalCode" }, class: "hide" %>
      <%= f.submit 'Create Makan', class: 'btn primarybtn btn-block hide', 'data-target' => "journey.postalCode" %>
    <% end %>
  </div>

</div>
