<div class="flip-card card bg-dark text-white">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <h5 class="card-title align-middle p-2 my-0">
        <%= poll.cuisine.name.capitalize %> |
        <%= number_to_percentage(poll.total_score/@total_polls.to_f * 100, options = { precision: 0 }) %>
        <i class="fa fa-repeat"></i>
      </h5>
      <% if poll.cuisine.photos.attached? %>
        <%= cl_image_tag(poll.cuisine.photos.sample.key, class: 'card-image') %>
      <% else %>
        <%= image_tag "https://source.unsplash.com/featured/?#{poll.cuisine.dish}", alt: "alttext", class: 'card-image' %>
      <% end %>
    </div>
    <div class="flip-card-back">
      <i class="fa fa-leaf"></i> <%= poll.cuisine.vegetarian %> <br>
      <i class="fas fa-fish"></i> <%= poll.cuisine.pescatarian %> <br>
      <i class="fas fa-pepper-hot"></i> <%= poll.cuisine.no_spicy_food %> <br>
    </div>
  </div>
</div>

<ul class="list-group list-group-flush">
  <% restaurant_count = 1 %>
  <% @restaurants.each do |resto| %>
  <% if resto.cuisine_id == poll.cuisine.id %>
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-text" id="heading-<%= "#{cuisine_count}-#{restaurant_count}"%>" data-toggle="collapse" data-target="#collapse-<%= "#{cuisine_count}-#{restaurant_count}"%>" aria-expanded="false" aria-controls="collapse-<%= "#{cuisine_count}-#{restaurant_count}"%>">
        <div class="card-body" data-toggle="collapse" data-target="#collapse-<%= "#{cuisine_count}-#{restaurant_count}"%>" aria-expanded="false" aria-controls="collapse-<%= "#{cuisine_count}-#{restaurant_count}"%>">
          <div class="card-text">
            <div><%= resto.name %></div>
            <div style="color:grey; font-size:12px;">
              <%= "#{resto.rating}" %>
              <% rating = resto.rating %>
              <% rating.floor.times do %>
              <i class="fas fa-star rated"></i>
              <% end %>
              <% if rating > rating.floor %>
              <i class="fas fa-star-half-alt half-rated"></i>
              <% end %>
              <% (5 - rating).floor.times do %>
              <i class="far fa-star rated"></i>
              <% end %>
              <% unless resto.price_level.nil? %>
              <%= "  (#{"$" * resto.price_level})" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div id="collapse-<%= "#{cuisine_count}-#{restaurant_count}"%>" class="collapse" aria-labelledby="heading-<%= "#{cuisine_count}-#{restaurant_count}"%>" data-parent="#accordionExample" data-toggle="collapse" data-target="#collapse-<%= "#{cuisine_count}-#{restaurant_count}"%>" aria-expanded="false" aria-controls="collapse-<%= "#{cuisine_count}-#{restaurant_count}"%>">
        <div class="card-body px-4">
          <div class="row">
            <div class="col-1 p-0 text-center">
              <i class="fas fa-map-marker-alt"></i>
            </div>
            <div class="col">
              <p style="font-size: 14px;"><%= "#{resto.formatted_address}" %></p>
            </div>
          </div>
          <div class="row">
            <div class="col-1 p-0 text-center">
              <i class="fas fa-globe-americas"></i>
            </div>
            <div class="col">
              <p style="font-size: 14px;"><%= link_to  resto.website, resto.website %></p>
            </div>
          </div>
          <div class="row">
            <div class="col-1 p-0 text-center">
              <i class="fas fa-phone-volume"></i>
            </div>
            <div class="col">
              <p style="font-size: 14px;"><%= "#{resto.formatted_phone_number}" %></p>
            </div>
          </div>
          <div class="row">
            <div class="col-1">
            </div>
            <div class="col">
              <p style="font-size: 14px;"><%= link_to "View on Google Maps", resto.url %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% restaurant_count += 1 %>
  <% end %>
  <% end %>
  <br>
</ul>

