<!-- Used for each of the 3 aunty's suggestions -->
<!-- The style is to specify the -->
<style>
.selected {
border: 4px red;
}

.suggestion:hover {
  border: 4px gray;
}
</style>

<div>
  <p class="card-text font-weight-bold my-0">
      <h2><%= poll.cuisine.name.capitalize %> |
          <%= number_to_percentage(poll.total_score/@total_polls.to_f * 100, options = { precision: 0 }) %></h2>
          <%= link_to "Nearest #{poll.cuisine.name.capitalize} Resturants", "#" %>
<!--           "https://deliveroo.com.sg/restaurants/singapore/sg?postcode=#{@meal.postal_code}&collection=#{poll.cuisine.name.downcase}"
 -->  </p>

  <div class="img-thumbnail img-fluid max-width: 100% height: auto">
    <% if poll.cuisine.photos.attached? %>
      <%= cl_image_tag(poll.cuisine.photos.sample.key, crop: :fill, class: 'card-img-top') %>
    <% else %>
      <%= image_tag "https://source.unsplash.com/featured/?#{poll.cuisine.dish}", alt: "alttext", class: 'card-img-top' %>
    <% end %>
  </div>

</div>
