<div class="d-flex justify-content-center">
    <%= simple_form_for(@meal) do |f| %>
      <%= f.input :postal_code, label: 'Postal Code', input_html: { class: "sharp-box", placeholder: "Where will you set off from?" } %>
      <%= f.input :pax, label: 'How many people?', input_html: { class: "sharp-box" } %>
      <%#= f.input :endtime, input_html: { class: "sharp-box timefield" } %>
      <%= simple_fields_for :others do |o| %>
        <%= o.input :duration, collection: ['15 mins', '30 mins', '1 hour', '1 hour 30 mins', '2 hours'], input_html: { class: 'sharp-box timefield text-center' } %>
      <% end %>
      <%= f.submit 'Create Makan', class: 'btn primarybtn btn-block' %>
    <% end %>
</div>
