<% if Time.now > @meal.endtime %>
  <h1>Aunty's Verdict:</h1>
  <% unless @top_cuisine %>
    <p>Your poll closed but no one voted :(</p>
  <% else %>
    <div>
      <% @top_cuisine.each do |cuisine| %>
        <%= render partial: 'verdict', locals: { cuisine: cuisine } %>
      <% end %>
    </div>
    <br>
    <div>
      <h2>Your Group's Preferences</h2>
      <ul>
        <% @collated_prefs.each do |p| %>
          <li><%= p.name %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% else %>
  <%= image_tag image_path('aunty-square.svg') %>
  <h3>Aunty still processing all votes...</h3>
  <%= raise %>
  <p>Wah you damn on ah! Can wait? Come back to aunty in <%= @time_left %> for results.</p></br>

  <div class="bubble">
    <p>ps... <strong> Aunty's wise words for today: </strong><br>
      <em><%= @fortune %></em></p>
  </div>
  <div class="pointer"></div>
<% end %>
