<% if Time.now > @endtime %>
  <h1>Aunty's Verdict:</h1>
  <% if @top_cuisine == [] %>
    <p>Your poll closed but no one voted :(</p>
  <% else %>
    <% @top_cuisine.each do |cuisine| %>
      <%= render partial: 'verdict', locals: { cuisine: cuisine } %>
    <% end %>
  <% end %>
<% else %>
  <%= image_tag image_path('aunty-square.svg') %>
  <h1>Aunty's still waiting...</h1><br>
  <!-- <h3>Your poll ends: <%= @endtime %></h3><br> -->
  <h3>Your poll ends in: <%= distance_of_time_in_words(Time.now, @endtime) %></h3><br>
  <p>Please check back after poll closing time for Aunty's verdict!</p></br>
  ---
  <div span class="border-danger">
    <p>ps... <strong> Aunty's wise words for today: </strong><br>
      <em><%= @fortune %></em></p>
  </div>
<% end %>



