<% polls = Poll.where(meal_id: @meal).length / 10.0 %>
<% if @endtime == nil || Time.now > @endtime || @meal.pax == polls %>
  <h3 class="p-3 m-0 text-center">Aunty's Verdict</h3>
  <h5 class="px-2 glow pt-2"><i class="fas fa-bullhorn pr-3"></i>Update your kakis</h5>
  <div data-controller="results">
    <div class="d-flex justify-content-center align-items-center mb-3">
      <input type="input" value="<%= @meal.vanity_id %>" class="sharp-box flex-grow-1 p-2 url-width" data-target="results.source" readonly>
      <div class="md-icon mx-2">
        <a href="" data-action="click->results#copy"><i class="far fa-clone"></i></a>
      </div>
      <div class="lg-icon mx-2">
        <a href="<%= @whatsapp_link %>" target="_blank"><i class="fab fa-whatsapp"></i></a>
      </div>
      <div class="lg-icon mx-2">
        <a href="<%= @telegram_link %>" target="_blank"><i class="fab fa-telegram-plane"></i></a>
      </div>
    </div>
  </div>

  <% if @polls == [] %>
    <p>Your poll closed but no one voted :(</p>
  <% else %>
    <h5 class="p-2 glow"><i class="fas fa-poll-h pr-3"></i>Top 2 cuisines</h5>
    <% cuisine_count = 1 %>
    <% @polls.each do |poll| %>
      <%= render partial: 'verdict', locals: { poll: poll, restaurants: @restaurants, cuisine_count: cuisine_count } %>
      <% cuisine_count += 1 %>
    <% end %>
    <div class="my-2 pb-3">
      <h5 class="p-2 glow"><i class="far fa-sticky-note pr-3"></i>Additional Notes</h5>
      <p class="px-2">Aunty collated all the preferences from your kakis.</p>
      <% if @collated_prefs.any? %>
        <ul style="list-style-type:square">
          <% @collated_prefs.each do |p| %>
            <li><%= p.name %></li>
          <% end %>
        </ul>
      <% else %>
        <p class="px-3">- NIL -</p>
      <% end %>
    </div>
  <% end %>
<% else %>
  <div class="centered-header">
    <%= image_tag "aunty-square.svg", class: "rotate my-5" %><br>
    <h3 class="my-3">Wait ah ...</h3>
    <p>Aunty is still polling your kakis.</p>
    <p>Come back in <%= @time_left %> for results.</p>
    <p>Aunty Will send an email notice once I finish okay?</p>
  </div>
<% end %>
