<% count = 0; %>

<div data-controller='polls' data-target='polls'>
  <% if @polls.any? %>
    <input type="hidden" data-target='polls.count' value='<%= count %>'>
    <% @polls.each do |poll|%>
      <% if poll == @polls.first %>
        <div data-target='polls.poll' style='display: block;'>
          <p><%= "Poll no #{@poll_no}/10" %></p>
          <%= cl_image_tag poll.cuisine.photo.key, height: 300, width: 400, crop: :fill %>
        </div>
      <% else %>
        <div data-target='polls.poll' style='display: none;'>
          <p><%= "Poll no #{@poll_no}/10" %></p>
          <%= cl_image_tag poll.cuisine.photo.key, height: 300, width: 400, crop: :fill %>
        </div>
      <% end %>
      <% @poll_no += 1 %>
      <% count += 1 %>
      <input type="hidden" data-target='polls.cuisineId' value='<%= poll.cuisine.id %>'>
    <% end %>
    <input type="hidden" data-target='polls.mealId' value='<%= @meal.id %>'>
    <input type="hidden" data-target='polls.userId' value='<%= current_user.id %>'>
    <button data-target='polls.btn' data-action='click->polls#thumbsUp'> Thumbs Up </button>
    <button data-target='polls.btn' data-action='click->polls#thumbsDown'> Thumbs Down </button>
    <div data-target='polls.viewResult' style='display: none;'><%= link_to "View Result", result_path(@meal) %></div>
  <% else %>
    <div data-target='polls.viewResult'><%= link_to "View Result", result_path(@meal) %></div>
  <% end %>
</div>
