<% count = 1; %>
<% @polls.each do |poll| %>
  <div>
    <p><%= "Poll no #{count}" %></p>
    <% count += 1 %>
    <%= cl_image_tag poll.cuisine.photo.key, height: 300, width: 400, crop: :fill %>
    <%= form_for [@meal, poll] do |f| %>
      <%= f.collection_radio_buttons :score, [[true, 'Yes'], [false, 'No']], :first, :last %>
      <%= f.hidden_field :cuisine, value: poll.cuisine.id %>
      <%= f.submit %>
    <% end %>
  </div>
<% end %>
