<% count = 1; %>
<% @cuisines.each do |cuisine| %>
  <div>
    <!-- TODO: retrieve keywords from cuisines -->
    <% keyword = "beefsteak" %>
    <p><%= "Cuisine no #{count}" %></p>
    <% count += 1 %>
    <%= image_tag "https://source.unsplash.com/414x736/?#{keyword}" %>
  </div>
  <div>
    <%= simple_form_for(@poll) do |f| %>
      <%= f.input :score  %>
      <%= f.hidden_field :cuisine, value:  cuisine %>
      <%= f.input :meal, :as => :hidden, :input_html => { :value => @meal } %>
      <%= f.submit %>
    <% end %>
  </div>
<% end %>
