<!-- TODO: Add a progress bar showing % of polls done -->
<% count = 0; %>

<div data-controller='polls'>
  <input type="hidden" data-target='polls.count' value='<%= count %>'>
  <% @polls.each do |poll|%>
    <% if poll == @polls.first %>
      <div data-target='polls.poll' style='display: block;'>
        <input type="hidden" data-target='polls.mealId' value='<%= poll.meal.id %>'>
        <input type="hidden" data-target='polls.cuisineId' value='<%= poll.cuisine.id %>'>
        <input type="hidden" data-target='polls.userId' value='<%= poll.user.id %>'>
        <p><%= "Poll no #{count + 1}" %></p>
        <% count += 1 %>
        <%= cl_image_tag poll.cuisine.photo.key, height: 300, width: 400, crop: :fill %>
        <button data-action='click->polls#thumbsUp'> Thumbs Up </button>
        <button data-action='click->polls#thumbsDown'> Thumbs Down </button>
      </div>
    <% else %>
      <div data-target='polls.poll' style='display: none;'>
        <input type="hidden" data-target='polls.mealId' value='<%= poll.meal.id %>'>
        <input type="hidden" data-target='polls.cuisineId' value='<%= poll.cuisine.id %>'>
        <input type="hidden" data-target='polls.userId' value='<%= poll.user.id %>'>
        <p><%= "Poll no #{count + 1}" %></p>
        <% count += 1 %>
        <%= cl_image_tag poll.cuisine.photo.key, height: 300, width: 400, crop: :fill %>
        <button data-action='click->polls#thumbsUp'> Thumbs Up </button>
        <button data-action='click->polls#thumbsDown'> Thumbs Down </button>
      </div>
    <% end %>
  <% end %>
</div>
<!-- TODO: Hide the "View Result" button until all polls are completed -->
<%= link_to "View Results", "/meals/:id/result" %>
