<div data-controller='show-button'>
  <div class="d-flex align-items-center">
    <div class="">
      <a href="<%= meals_path %>">
        <p class="m-0 p-0 md-icon"><i class="far fa-caret-square-left"></i></p>
      </a>
    </div>
    <div class="flex-grow-1">
      <h3 class="p-3 m-0 text-center pr-5">Makan Details</h3>
    </div>
  </div>

  <div class="pt-4 pb-3">
    <h5 class="pl-2 mb-2 glow"><i class="fas fa-bullhorn pr-3"></i>Jio your kakis</h5>
    <div class="d-flex justify-content-center align-items-center">
      <input type="input" value="<%= @meal.vanity_id %>" class="sharp-box flex-grow-1 p-2 url-width" data-target="show-button.source" readonly>
      <div class="md-icon mx-2">
        <a href="" data-action="click->show-button#copy"><i class="far fa-clone"></i></a>
      </div>
      <div class="lg-icon mx-2">
        <a href="<%= @whatsapp_link %>" target="_blank"><i class="fab fa-whatsapp"></i></a>
      </div>
      <div class="lg-icon mx-2">
        <a href="<%= @telegram_link %>" target="_blank"><i class="fab fa-telegram-plane"></i></a>
      </div>
    </div>
  </div>

  <div class="mt-3">
    <h5 class="px-2 glow"><i class="fas fa-users pr-3"></i>Meal Kakis [<%= @meal.users.count %>/<%= @meal.pax %>]</h5>
    <p class="px-2">Your makan kakis' email address will appear here when they join the makan.</p>
    <div class="mt-3 pl-3">
      <% @meal.users.each_with_index do |user, i| %>
        <p><%= "#{i + 1}. #{user.email}" %></p>
      <% end %>
    </div>
  </div>

  <div class="d-flex justify-content-between mt-4">
    <div class="fixed-width">
      <input type="hidden" data-target='show-button.pollCount' value="<%= Poll.where(user: current_user, meal: @meal).length %>">
      <input type="hidden" data-target='show-button.time' value="<%= @meal.endtime > Time.now %>" >
      <%= link_to "Start Poll", setup_path(@meal.vanity_id), class: 'btn primarybtn btn-block', data: {target: "show-button.startPoll"} %>
      <%= link_to "See Result", result_path(@meal.vanity_id), class: 'btn primarybtn btn-block', data: {target: "show-button.viewResult"} %>
    </div>
    <div class="btn primarybtn fixed-width" data-target="show-button.editBtn" data-action="click->show-button#update">
      Edit
    </div>
  </div>

  <div class="my-3 hide" data-target="show-button.edit">
    <%= simple_form_for @meal, url: "/meals/#{@meal.vanity_id}", method: :patch do |f| %>
      <%= f.input :pax, label: "Max Kakis:", input_html: { class: 'sharp-box mb-0' }, label_html: { class: 'm-0' } %>
      <%= f.input :endtime, label: "Endtime:", default: Time.now.in_time_zone('Singapore'), input_html: { class: 'sharp-box timefield mb-0' }, label_html: { class: 'm-0' } %>
      <%= f.submit 'Update', class: 'btn primarybtn btn-block m-0' %>
    <% end %>
  </div>

  <div id="bottom"></div>
</div>
